body {
    text-align: center;
    padding: 0 !important;
}

h1 {
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: 40px;
    text-align: center;
    margin: 1em !important;
}

h2 {
    font-size: 50px;
    color: black;
    margin-bottom: 5em !important;
}

.container-fluid {
    margin: 0 !important;
    max-width: 100% !important;
}

#menu {
    background-color: black;
    color: white;
}

header {
    width: 30%;
    position: fixed;
    background-color: #6d6875;
    color: white;
    height: 100%;
}

header ul li {
    list-style-type: none;
    font-size: 30px;
    margin: 1em;
}

#block-defi {
    margin-left: 30%;
}

.defi {
    padding: 0 10em 30em 10em;
    text-align: center;
}

ul li a {
    color: white;
    border: solid 0.5px;
    padding: 0.1em 3em 0.1em 1em
}

ul li a:hover {
    background-color: #e17055;
    color: white;
    text-decoration: none;
    border-color: #e17055;
}

#defi1 {
    background-color: #b5838d;
    margin-top: 0;
}

#defi2 {
    background-color: #e5989b;
}

#defi3 {
    background-color: #ffb4a2;
}

#defi4 {
    background-color: #ffcdb2;
}

.contenue {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
}

input{
    border : none;
    border-color: white;
}

input:hover{
    border-color: white;
}
input:active{
    border-color: white;
}

img{
    width: 60px;
}
button{
    border-radius: 100px;
    box-shadow: 1px 1px 1px 1px rgb(109, 104, 117, 0.9);
}